@using TentaloWebShop.Shared
@inject AuthService Auth
@inject CartService Cart
@inject LocalizationService Localization
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (!Auth.IsAuthenticated
                && routeData.PageType != typeof(TentaloWebShop.Pages.Login)
                && routeData.PageType != typeof(TentaloWebShop.Pages.Register))
        {
            <RedirectToLogin />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>404</h1>
            <p>La página no existe.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Localization.InitializeAsync();
            await Auth.InitializeAsync();
            await Cart.InitializeAsync();
            StateHasChanged();
        }
    }
}